* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

#root {
  width: 100%;
  height: auto;
  background-color: #FFC93C;
  position: relative;
}

#root .background--image {
  position: absolute;
  width: 300px;
  height: auto;
  top: 150px;
  right: -60px;
  z-index: 0;
}

@media screen and (max-width: 768px) {
  #root .background--image {
    width: 200px;
    top: 130px;
    right: 0px;
  }
}

@media screen and (max-width: 425px) {
  #root .background--image {
    width: 150px;
    top: 100px;
    right: 0px;
  }
}

.navigation--bar {
  max-width: 1024px;
  height: auto;
  margin: 0 auto;
  position: relative;
  top: 0;
  padding: 25px 0px;
  -webkit-box-shadow: 0px 8px 10px -9px #c5b897;
          box-shadow: 0px 8px 10px -9px #c5b897;
}

.navigation--bar ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 2rem;
  color: #0D1821;
}

.navigation--bar ul .navbar--title {
  padding-left: 20px;
}

.aboutUs--section {
  max-width: 1024px;
  margin: 0 auto;
  padding-right: 150px;
  line-height: 1.8rem;
  color: #0D1821;
}

.aboutUs--section .aboutUs--header {
  margin-top: 2rem;
}

@media screen and (max-width: 425px) {
  .aboutUs--section {
    margin-top: 4rem;
    width: 100%;
    padding-right: 0px;
    position: relative;
    z-index: 10;
  }
  .aboutUs--section .aboutUs--header {
    margin-bottom: 3rem;
  }
}

.app--container {
  max-width: 1024px;
  height: auto;
  margin: 3rem auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px 25px 0px 0px;
}

.app--container .app--container__searchbar {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app--container .app--container__searchbar label {
  padding: 25px 25px;
}

.app--container .app--container__searchbar label select {
  padding: 0 10px;
}

.app--container .app--container__cardBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 2rem 0rem;
}

.app--container .app--container__cardBox .cardBox--card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 250px;
  max-width: 40%;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  margin: 1.25rem 1rem 1.25rem 1rem;
}

@media screen and (max-width: 425px) {
  .app--container .app--container__cardBox .cardBox--card {
    max-width: 60%;
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
}

.app--container .app--container__cardBox .cardBox--card .cardBox--imageBox {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app--container .app--container__cardBox .cardBox--card .cardBox--imageBox img {
  width: auto;
  height: 250px;
}

.app--container .app--container__cardBox .cardBox--card .cardBox--details {
  width: 50%;
}

.app--container .app--container__cardBox .cardBox--card .cardBox--details h3 {
  font-weight: bold;
}

.app--container .app--container__cardBox .cardBox--card .cardBox--details span {
  font-weight: 400;
  font-style: italic;
  display: block;
}

.app--container .app--container__cardBox .cardBox--card .cardBox--details p {
  height: 100px;
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */