$primatyColor: #FFC93C;
$secondColor: #FFFF;
$thirdColor: #0D1821;

$font: 'Lato', sans-serif; // font-family: 'Lato', sans-serif;

$maxWidth: 1024px;
$marginAuto: 0 auto;

@mixin displayFlex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

* {
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: $font;
}

#root {
    width: 100%;
    height: auto;
    background-color: $primatyColor;
    position: relative;

    .background--image{
        position: absolute;
        width: 300px;
        height: auto;
        top: 150px;
        right: -60px;
        z-index: 0;
    }
}

.navigation--bar {
    max-width: $maxWidth;
    height: auto;
    margin: $marginAuto;
    position: relative;
    top: 0;
    padding: 25px 0px;

    // border-bottom: 1px #c5b897 solid;
    box-shadow: 0px 8px 10px -9px #c5b897 ;

    
    ul {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 2rem;
        color: $thirdColor;

        .navbar--title{
            padding-left: 20px;
        }
    }
}

.aboutUs--section{
    max-width: $maxWidth;
    margin: $marginAuto;    
    padding-right: 150px;
    line-height: 1.8rem;
    z-index: 10;
    color: $thirdColor;
    .aboutUs--header{
        margin-top: 2rem;
    }
}

.app--container{
    max-width: $maxWidth;
    height: auto;
    margin: 3rem auto;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 25px 25px 0px 0px;

    .app--container__searchbar{
        width: 100%;
        height: auto;
        @include displayFlex(row, flex-end, center);

        label{
            padding: 25px 25px;

            select{
                padding: 0 10px;
            }
        }
    }

    .app--container__cardBox{
        @include displayFlex(row, space-evenly, center);
        height: auto;
        flex-wrap: wrap;
        width: 100%;
        padding: 2rem 0rem;

        .cardBox--card{
            @include displayFlex(row, center, center);
            height: 250px;
            max-width: 40%;
            flex-basis: 40%;
            margin: 1.25rem 1rem 1.25rem 1rem;

            .cardBox--imageBox{
                width: 50%;
                @include displayFlex(row, center, center);
                
                img{
                    width: auto;
                    height: 250px;
                }
            }

            .cardBox--details{
                width: 50%;

                h3{
                    font-weight: bold;
                }
    
                span {
                    font-weight: 400;
                    font-style: italic;
                    display: block;
                }

                p {
                    height: auto;
                    overflow: hidden;
                }
            }
        }
    }
}